.container
    table.table
        thead
            tr
                th Title
                th Publish date
        tbody
            tr(ng-repeat="course in courses")
                td {{ course.title }}
                td {{ course.published | date }}