.navbar-right(ng-controller="AccountController")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Email", ng-model="user.username")
        .form-group
            input.form-control(placeholder="Password", type="password", ng-model="user.password")
        button.btn.btn-primary(ng-click="signIn()") Singn In